.toast {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15)!important;
  font-size: 1rem;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s ease;
}
.toast-body {
  display: flex;
  align-items: center;
}
.text-bg-success {
  background-color: #198754!important;
  color: #fff!important;
}
.text-bg-error {
  background-color: #dc3545!important;
  color: #fff!important;
}
